In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('train.csv',delimiter=';')

In [5]:
df

,Unnamed: 0,title,text,label
0,0,Palestinians switch off Christmas lights in Be...,"RAMALLAH, West Bank (Reuters) - Palestinians s...",1
1,1,China says Trump call with Taiwan president wo...,BEIJING (Reuters) - U.S. President-elect Donal...,1
2,2,FAIL! The Trump Organization’s Credit Score W...,While the controversy over Trump s personal ta...,0
3,3,Zimbabwe military chief's China trip was norma...,BEIJING (Reuters) - A trip to Beijing last wee...,1
4,4,THE MOST UNCOURAGEOUS PRESIDENT EVER Receives ...,There has never been a more UNCOURAGEOUS perso...,0
...,...,...,...,...
24348,24348,Mexico Senate committee OK's air transport dea...,MEXICO CITY (Reuters) - A key committee in Mex...,1
24349,24349,BREAKING: HILLARY CLINTON’S STATE DEPARTMENT G...,IF SHE S NOT TOAST NOW THEN WE RE IN BIGGER TR...,0
24350,24350,trump breaks from stump speech to admire beaut...,kremlin nato was created for agression \nruss...,0
24351,24351,NFL PLAYER Delivers Courageous Message: Stop B...,Dallas Cowboys star wide receiver Dez Bryant t...,0
24352,24352,NORDSTROM STOCK TAKES NOSEDIVE After Trump Twe...,UPDATE: Nordstrom stock closed up slightly tod...,0

In [7]:
df.label.value_counts()

1    13246
0    11107
Name: label, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24353 entries, 0 to 24352
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24353 non-null  int64
 1   title       24353 non-null  object
 2   text        24353 non-null  object
 3   label       24353 non-null  int64
dtypes: int64(2), object(2)
memory usage: 761.2+ KB

In [15]:
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, title, text, label]
Index: []

In [18]:
df.iloc[0,:].label

1